name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.14'

    - name: Install Flet
      run: pip install flet

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.29.0'
        channel: 'stable'

    - name: Build APK
      run: |
        rm -rf git
        flet build apk --verbose

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: teybr-os-app-release
        path: build/app/outputs/flutter-apk/app-release.apk
